body{
    margin:0%;
}
main{
    margin-left:10%;
    margin-right:10%  
}
h1
{
    text-align:center;
}
.navbar ul{
    list-style-type:none;
    background-color:rgb(112, 112, 112);
    padding:0%;
    margin:0%;
    overflow:hidden;
}
.navbar a {
      color:white;
      text-decoration:none;
      padding:15px;
      display:block;
      text-align:start;
}
.navbar a:hover {
    text-shadow:10px;
            background-color:rgb(0, 0, 0) ;
            transition-duration:0.7s;
}
.navbar li
{
    float:right;
}
footer{
    display:block;
    text-align: center;
    color:white;
    .copyright{ 
        border:1px;
        border-color:hsl(0, 0%, 55%);

    }
}